

.galleri {
    width: 358px;
    height: 310px;
    /*overflow: hidden;*/
    position: relative;
}


    .galleri .images {
        overflow: hidden;
        position: relative;
        width: 358px;
        height: 310px;
    }

        .galleri .images img {
            position: absolute;
            left: 0;
        }

    .galleri .previous {
        top: 40%;
        left: -1px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.60);
        color: white;
        border: none;
        padding: 13px;
        font-size: 2em;
        border-radius: 0 10px 10px 0;
    }

    .galleri .next {
        top: 40%;
        right: -1px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.60);
        color: white;
        border: none;
        padding: 13px;
        font-size: 2em;
        border-radius: 10px 0 0 10px;
        
    }

    .galleri .imageNav {
        position: absolute;
        width: 96%;
        margin: 0 2%;
        top:80%;
    }

        .galleri .imageNav img {
            float: left;
            width: 20%;
        }

.imageNav .activ {
    border: 1px solid red;
}

 .galleri:hover .popUdGalleri {
    opacity:1;
    transition: opacity ease-out 300ms;
 }
.galleri .popUdGalleri {
    width: 15%;
    height: 25px;
    border-radius: 0 0 30px 30px;
    background-color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
    color: #fff;
    position: absolute;
    top: 0;
    left: 40%;
    opacity:0.1;
    transition: opacity ease-in 300ms;
}


/*lev 3*/

body {
    overflow:hidden;
    padding:0;
    margin:0;
}
.galleri.popUp {
    margin: auto;
    zoom: 1.5;
    margin-top: 20px;

}

 .galleriBg {
    display:none;
}
.galleriBg.popUp {
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 0;
    display:block;
    top:0;
    left:0;
}
